<h1>Agregar Cuenta Bancaria</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <div class="example-container">
   
    <div class="mainContainenr">
    <mat-form-field appearance="outline">
      <input matInput placeholder="ID" formControlName="id" />
      </mat-form-field>
    </div>
 
  <div class="mainContainer">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Nombre de Cuenta Contable" formControlName="nameAccount" />
    </mat-form-field>
  </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Numero de Cuenta Contable" formControlName="accountNumber" mask="0000-000-00" />
        <mat-icon matSuffix>account_balance</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Balance" formControlName="balance" />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </div>

  
    <div class="mainContainer">
      <button mat-raised-button type="submit" color="accent">
        AGREGAR CUENTA CONTABLE AL CATALOGO
        <mat-icon matSuffix>account_balance</mat-icon>
      </button>
    </div>
  </div>
</form>
