<h1>Agregar Cuenta Bancaria</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <div class="example-container">
   
    <div class="mainContainenr">
    <mat-form-field appearance="outline">
      <input matInput placeholder="ID" formControlName="id" />
      </mat-form-field>
    </div>
 
  <div class="mainContainer">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Nombre de Banco" formControlName="nameBank" />
    </mat-form-field>
  </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Numero de Cuenta" formControlName="accountNumber" />
        <mat-icon matSuffix>account_balance</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Telefono de Contacto" formControlName="phone" />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Correo electronica" formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Balance" formControlName="balance" />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Balance Actual" formControlName="balanceToday" />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
    </div>

    <div class="mainContainer">
      <button mat-raised-button type="submit" color="accent">
        AGREGAR CUENTA
        <mat-icon matSuffix>account_balance</mat-icon>
      </button>
    </div>
  </div>
</form>